[submodule "grapto-v3-schematic"]
	path = grapto-v3-schematic
	url = git@github.com:arqubusier/grapto-v3-schematic.git
[submodule "keyswitch-kicad-library"]
	path = keyswitch-kicad-library
	url = https://github.com/perigoso/keyswitch-kicad-library.git
